.container-fluid
{
    background-image: url("../../assets/update bg.jpg");
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
}

.container
{
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(240, 248, 255, 0.743);
    border-radius: 40px;   
}

form
{
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1px;
}

.labl
{
    color: rgba(0, 0, 0, 0.601);
    font-weight: bold;
}

.infor
{
    font-weight: lighter;
    letter-spacing: 2px;
}

.btn
{
    margin-top: 10px;
    margin-left: 42%;
    margin-bottom: 20px;
}