<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand" href="#">EPM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link text-dark" href="dashboard">Back</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container text-center">
        <h3 style="font-family: 'Prompt', sans-serif; font-weight: 900px;color: rgba(0, 0, 0, 0.673);letter-spacing: 2px;">
            ABOUT US
        </h3>
    </div>
  
<section class="p-5">
    <div class="container">
        
        <div class="row text-center">
            <div class="col-md-3">
                <div class="card dcard bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                           <img src="../assets/New folder/1b6468e0-40b1-40ab-aabf-7468081cd28e.jpg" >
                        </div>
                        <h3 class="card-title mt-4">
                            Ezhilrani 
                        </h3>
                        <p class="card-text">
                            Admin Registration
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../assets/New folder/269149d3-d4ca-47a3-9413-d39a7563897a.jpg"  >

                        </div>
                        <h3 class="card-title mt-4">
                            Ragul
                        </h3>
                        <p class="card-text">
                            Salary Details
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../assets/New folder/2cdf71de-f8ef-4981-92f3-cd82160b339c.jpg" >

                        </div>
                        <h3 class="card-title mt-4">
                           Ashwin
                        </h3>
                        <p class="card-text">
                            Employee Controller
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card  bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../assets/New folder/e31a9ad1-09fe-4232-b565-6756c55406f9.jpg"  alt="">

                        </div>
                        <h3 class="card-title mt-4">
                            Sudhir Perumal
                        </h3>
                        <p class="card-text">
                            Leave Details
                        </p>
                       
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="row pt-5 text-center">
            <div class="col-md-3">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../assets/New folder/3afd0b0c-8667-48e2-b464-915f7442d53d.jpg"  alt="">

                        </div>
                        <h3 class="card-title mt-4">
                            Kalaiyarasi
                        </h3>
                        <p class="card-text">
                            Attendance
                        </p>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-secondary text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../assets/New folder/4e1867ef-be3d-4ffa-ad9f-a6317f2d5d54.jpg"  alt=" ">

                        </div>
                        <h3 class="card-title mt-4">
                            Vasanth
                        </h3>
                        <p class="card-text">
                            TimeSheet Details
                        </p>
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="../assets/New folder/37b2b576-8c69-4ceb-a95c-93a30ab3f949.jpg"  alt=" ">

                        </div>
                        <h3 class="card-title mt-4">
                             Kalviyarasi
                        </h3>
                        <p class="card-text">
                            Employee Registration
                        </p>
                        
                    </div>
                </div>
            </div>
                <div class="col-md-3">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="../assets/New folder/77081db5-c83d-4843-bb10-3a411f1ac592.jpg"  alt="">
    
                            </div>
                            <h3 class="card-title mt-4">
                                Pooja
                            </h3>
                            <p class="card-text">
                                Admin controller
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-5 text-center">
                
                <div class="col-md-3">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <img src="../assets/New folder/f9c11d68-2a03-4f38-bf04-e22143cce0bd.jpg"  alt="">
    
                            </div>
                            <h3 class="card-title mt-4">
                                Monika
                            </h3>
                            <p class="card-text">
                                Schedule
                            </p>
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card bg-secondary text-light">
                        
                        <div class="card-body text-center">
                            <div class="mb-3">
                                <img src="../assets/New folder/ff86114c-0896-4690-86f6-089f11897258.jpg"  alt="">
        
                            </div>
                            <h3 class="card-title mt-4">
                               Sidharttan
                            </h3>
                            <p class="card-text">
                                Admin Controller
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>


</section>
</div>