
<div class="heropage">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <a class="navbar-brand ms-3 " href="#">EPM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav" style="margin-left:60%;">
            <a class="nav-item nav-link" href="login"><button type="button" class="btn btn-light mr-4">Admin Login</button></a>
            <a class="nav-item nav-link" href="emplogin"><button class="btn btn-light mr-2">Employee Login</button></a>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="herocontent">
            <h3>EMPLOYEE - PAYROLL - MANAGEMENT</h3>
        <marquee>Employee payroll management system is an Internet-based Java application that automates the working of  a  company  or  work  center that  manage and  maintain  records  of  the  employees  in  the  different department.</marquee>
            <button type="button" class="btn  btn-primary"><a style="text-decoration: none; color: rgba(0, 0, 0, 0.724);" href="aboutus">About us</a></button>
        </div>
         </div>




</div>   











<!-- <div class="body"><b><h1 class="text-center"> {{title}} </h1></b>
    <div class="container">
        <router-outlet></router-outlet>
    
    </div>
    <div class="abc">
        
            <b><a href="login" class="navlink">Admin Login</a>
    
    
           <br><br><a href="emplogin" class="navlink">Employee Login</a></b>
    </div></div> -->
    
    